body {
	font-family: 'Ubuntu';
	font-size: 16pt;
}

section.chunk {
	padding: 25px;
	margin: 10px;	
	background: #90A9D4;
	margin: 20px;
	border-radius: 10px;
	border: 1px solid #000000;
	box-shadow: 5px 5px 5px #888888;
}

section.chunk p {
	font-size: 16pt;
	border-radius: 10px;
}

section.chunk:hover, section.chunk.edit p {
	background: #D8D8D8;
	cursor: pointer;
}


nav li {
	font-family: 'Ubuntu';
	font-size: 18pt;
	margin: 0 10px;
	padding: 10px 2px;
}

#greeting {
	font-family: 'Ubuntu';
	cursor: default;
}

nav li.link:hover {
	background: #E7E7E7;
}

.navbar .navbar-collapse {
  text-align: center;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 15px;
}

.link {
	cursor: pointer;
}

td.link {
	color: blue;
}

.inactive {
	color: #C8C8C8;
}

/*input text page */

.inline {
	width:45%;
	display: inline-block;
	vertical-align: top;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
